### Welcome to Moodle Calendar. Configure the links to make the program work. Don't forget to add the indentation before each link
[links]
mainlink = https://ead.fecap.br/moodleFECAPCol/
subjects =
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4139
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4140
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4141
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4192
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4142
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4143
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4144
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4145
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4146
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4147
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4148
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4149
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4150
    https://ead.fecap.br/moodleFECAPCol/course/view.php?id=4151


